JWT_SECRET=supersecret123
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=bilkentcs319@gmail.com
SMTP_PASS=tohu xbzk hdim epqa
SMTP_FROM=bilkentcs319@gmail.com
FRONTEND_BASE_URL=http://localhost:3000